# {{ ansible_managed }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

export HISTCONTROL=ignoreboth
export HISTSIZE=65536

shopt -s histappend
shopt -s checkwinsize

export PERL_LOCAL_LIB_ROOT="$PERL_LOCAL_LIB_ROOT:$HOME/perl5";
export PERL_MB_OPT="--install_base $HOME/perl5";
export PERL_MM_OPT="INSTALL_BASE=$HOME/perl5";
export PERL5LIB="$HOME/perl5/lib/perl5:$PERL5LIB";

for addpath in "$HOME/.rbenv/bin" "$HOME/bin" "$HOME/perl5/bin" "$HOME/.cabal/bin"; do
  case ":$PATH:" in
    *":$addpath:"*) :;;
    *) export PATH="$addpath:$PATH";;
  esac
done

eval "$(rbenv init -)"

export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/projects
source /usr/bin/virtualenvwrapper.sh

/usr/bin/keychain --agents ssh --nogui --timeout 60
source $HOME/.keychain/$HOSTNAME-sh
