# {{ ansible_managed }}
[LightDM]
greeter-user=lightdm
minimum-vt=1
log-directory=/var/log/lightdm
run-directory=/run/lightdm
cache-directory=/var/cache/lightdm
sessions-directory=/usr/share/lightdm/sessions:/usr/share/xsessions

[SeatDefaults]
xserver-allow-tcp=true
greeter-session=lightdm-gtk-greeter
allow-user-switching=true
session-wrapper=/etc/lightdm/Xsession
#greeter-wrapper=
#guest-wrapper=
#display-setup-script=
#display-stopped-script=
